@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Titillium+Web:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/abed-ismail-S3Xu9cvq2d0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Tittilum Web', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.quiz-outer {
    border: 2px solid #7d5760;
    background-color: #1f131c;
    border-radius: 10px;
    width: 600px;
}

.quiz-text {
    color: #ebc3d4;
    padding: 10px;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #ed8f79;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    color: #ebc3d4;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

ul li:hover {
    background-color: #7d5760;
    cursor: pointer;
}

input {
    visibility: visible;
}

button {
    color: #1f131c;
    background-color: #ebc3d4;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    background-color: #ed8f79;
}





